In [ ]:
import pandas as pd

In [ ]:
import spacy

In [ ]:
import pandas as pd
import spacy

# Load spaCy English model
nlp = spacy.load("en_core_web_sm")

# Read the CSV file
data = pd.read_csv('/content/News.csv')

# Select the first 10 rows
data_subset = data.head(10)

# Iterate over each row in the subset and process the text
for index, row in data_subset.iterrows():
    # Process the text using spaCy
    doc = nlp(row['News'])

    # Print entities and their labels
    for ent in doc.ents:
        print(ent.text, ent.label_)

third ORDINAL
George W. PERSON
Hillary Clinton PERSON
John McCain PERSON
George Bush PERSON
Iran GPE
the last 10 years DATE
the last two decades DATE
Jim Dunnam PERSON
years DATE
just last year DATE
Russ Feingold PERSON
Watergate EVENT
$19.5 million MONEY
Oregon Lottery FAC
the Port of Newport FAC
NOAA Marine Operations Center-Pacific ORG
GOP ORG
Glenn Grothman PERSON
Joe Leibham PERSON
$788 million MONEY

In [ ]:
from spacy import displacy
displacy.render(doc, style="ent")

'<div class="entities" style="line-height: 2.5; direction: ltr">Says \n<mark class="entity" style="background: #7aecec; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">\n    GOP\n    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">ORG</span>\n</mark>\n primary opponents \n<mark class="entity" style="background: #aa9cfc; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">\n    Glenn Grothman\n    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">PERSON</span>\n</mark>\n and \n<mark class="entity" style="background: #aa9cfc; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">\n    Joe Leibham\n    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">PERSON</span>\n</mark>\n cast a compromise vote that cost \n<mark class="entity" style="background: #e4e7d2; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">\n    $788 million\n    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MONEY</span>\n</mark>\n in higher electricity costs.</div>'

In [ ]:
import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize
from nltk.tag import pos_tag

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [ ]:
# Tokenize each entry in the 'text' column
sent = data['News'].apply(nltk.word_tokenize)

sent

0        [Says, the, Annies, List, political, group, su...
1        [When, did, the, decline, of, coal, start, ?, ...
2        [Hillary, Clinton, agrees, with, John, McCain,...
3        [Health, care, reform, legislation, is, likely...
4        [The, economic, turnaround, started, at, the, ...
                               ...
10235    [There, are, a, larger, number, of, shark, att...
10236    [Democrats, have, now, become, the, party, of,...
10237    [Says, an, alternative, to, Social, Security, ...
10238    [On, lifting, the, U.S., Cuban, embargo, and, ...
10239    [The, Department, of, Veterans, Affairs, has, ...
Name: News, Length: 10240, dtype: object

In [ ]:
import nltk
nltk.download('averaged_perceptron_tagger')
#sent1=nltk.pos_tag(sent)
sent1 = sent.apply(nltk.pos_tag)
sent1

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

0        [(Says, VBZ), (the, DT), (Annies, NNPS), (List...
1        [(When, WRB), (did, VBD), (the, DT), (decline,...
2        [(Hillary, NNP), (Clinton, NNP), (agrees, VBZ)...
3        [(Health, NNP), (care, NN), (reform, NN), (leg...
4        [(The, DT), (economic, JJ), (turnaround, NN), ...
                               ...
10235    [(There, EX), (are, VBP), (a, DT), (larger, JJ...
10236    [(Democrats, NNPS), (have, VBP), (now, RB), (b...
10237    [(Says, VBZ), (an, DT), (alternative, NN), (to...
10238    [(On, IN), (lifting, VBG), (the, DT), (U.S., N...
10239    [(The, DT), (Department, NNP), (of, IN), (Vete...
Name: News, Length: 10240, dtype: object

In [ ]:
pattern = 'NP: {<DT>?<JJ>*<NN>}'
cp = nltk.RegexpParser(pattern)
#cs = cp.parse(sent1)
cs = sent1.apply(cp.parse)
print(cs)

0        [(Says, VBZ), (the, DT), (Annies, NNPS), (List...
1        [(When, WRB), (did, VBD), [(the, DT), (decline...
2        [(Hillary, NNP), (Clinton, NNP), (agrees, VBZ)...
3        [(Health, NNP), [(care, NN)], [(reform, NN)], ...
4        [[(The, DT), (economic, JJ), (turnaround, NN)]...
                               ...
10235    [(There, EX), (are, VBP), (a, DT), (larger, JJ...
10236    [(Democrats, NNPS), (have, VBP), (now, RB), (b...
10237    [(Says, VBZ), [(an, DT), (alternative, NN)], (...
10238    [(On, IN), (lifting, VBG), (the, DT), (U.S., N...
10239    [(The, DT), (Department, NNP), (of, IN), (Vete...
Name: News, Length: 10240, dtype: object

In [ ]:
import nltk
nltk.download('words')
import nltk
nltk.download('maxent_ne_chunker')
ne_tree = nltk.ne_chunk(pos_tag(word_tokenize(row['News'])))
print(ne_tree)

[nltk_data] Downloading package words to /root/nltk_data...
[nltk_data]   Unzipping corpora/words.zip.
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping chunkers/maxent_ne_chunker.zip.

(S
  Says/VBZ
  (ORGANIZATION GOP/NNP)
  primary/JJ
  opponents/NNS
  (PERSON Glenn/NNP Grothman/NNP)
  and/CC
  (PERSON Joe/NNP Leibham/NNP)
  cast/VBD
  a/DT
  compromise/NN
  vote/NN
  that/IN
  cost/VBD
  $/$
  788/CD
  million/CD
  in/IN
  higher/JJR
  electricity/NN
  costs/NNS
  ./.)

In [ ]:
import pandas as pd
import spacy

# Load spaCy English model
nlp = spacy.load("en_core_web_sm")

# Read the CSV file
data = pd.read_csv('/content/News.csv')

# Define a function to extract relationships between entities using dependency parsing
def extract_relationships(doc):
    relationships = []
    for token in doc:
        if token.dep_ in ('attr', 'dobj'):
            subject = [w for w in token.head.lefts if w.dep_ == 'nsubj']
            if subject:
                subject = subject[0]
                relationships.append((subject, token))
    return relationships

# Iterate over each row in the dataset and process the text
tuples_extracted = []
for index, row in data.iterrows():
    # Process the text using spaCy
    doc = nlp(row['News'])

    # Extract entities and their labels
    entities = [(ent.text, ent.label_) for ent in doc.ents]

    # Extract relationships between entities using dependency parsing
    relationships = extract_relationships(doc)

    # Construct tuples for information extraction
    for subj, obj in relationships:
        tuples_extracted.append((subj.text, obj.text, obj.dep_))

# Display the number of tuples extracted
print("Number of tuples extracted:", len(tuples_extracted))

Number of tuples extracted: 8462